<html>
  <head>
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/tilota.js"></script>
<link rel="stylesheet" href="/static/css/tilota.css" media="screen,projection" type="text/css" />
    <title>The Incredible Land Of Text-based Adventuress</title>
  </head>
  <body>
    <img src="/static/img/ban.png" />
    <form method='post' id="sendInstructionForm" action="/api/tilota/game/" >
        {% csrf_token %}
        <textarea id="consoleDisplay" name="text"></textarea>
        <div>
            <input type="text" name="cmd" id="cmd"/>
            <input type="submit" name="send" value="send" id="send"/>
        </div>
    </form>
  </body>
</html>
